<header class="container">

  <div id="welcome" class="row">
    <div class="col-md-12">

      <img alt="Avatar"
           src="/assets/images/avatar.png"
           class="img-responsive center-block">

      <h3 class="text-center">
        Andy Bettisworth<br/>
        <small>Information Systems Entrepreneur</small>
      </h3>

    </div>
  </div>

  <div id="links" class="row text-center">
    <div class="col-md-12">

      <a href="#chat">chat</a> |
      <a href="#blog">blog</a> |
      <a href="#podcast">podcast</a> |
      <a href="#projects">projects</a> |
      <a href="https://careers.stackoverflow.com/cv/281406/export/pdf-preview">resume</a>

    </div>
  </div>

</header>
